CellWidget {
    border: none;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}

CellWidget:!checked {
    background: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}

CellWidget:checked {
    background-color: rgba(110, 155, 100, 0.7);
}

CellWidget[highlighted=true][piece=false] {
    background-color: rgba(175, 165, 220, 0.6);
}

CellWidget[highlighted=true][piece=false]:hover {
    background-color: rgba(175, 165, 220, 0.8);
}

CellWidget[highlighted=true][piece=true] {
    background-color: rgba(245, 145, 140, 0.6);
}

CellWidget[highlighted=true][piece=true]:hover {
    background-color: rgba(245, 145, 140, 0.8);
}

CellWidget[highlighted=false] {}

CellWidget[marked=true] {
    background-color: rgba(35, 175, 75, 0.7);
}

CellWidget[marked=false] {}

#cell_white_pawn {
    background-image: url(:/images/white_pawn.png) 2 2 2 2 stretch stretch;
}

#cell_black_pawn {
    background-image: url(:/images/black_pawn.png) 2 2 2 2 stretch stretch;
}

#cell_white_rook {
    background-image: url(:/images/white_rook.png) 2 2 2 2 stretch stretch;
}

#cell_black_rook {
    background-image: url(:/images/black_rook.png) 2 2 2 2 stretch stretch;
}

#cell_white_knight {
    background-image: url(:/images/white_knight.png) 2 2 2 2 stretch stretch;
}

#cell_black_knight {
    background-image: url(:/images/black_knight.png) 2 2 2 2 stretch stretch;
}

#cell_white_bishop {
    background-image: url(:/images/white_bishop.png) 2 2 2 2 stretch stretch;
}

#cell_black_bishop {
    background-image: url(:/images/black_bishop.png) 2 2 2 2 stretch stretch;
}

#cell_white_king {
    background-image: url(:/images/white_king.png) 2 2 2 2 stretch stretch;
}

#cell_white_king[checkedKing=true] {
    background-color: qradialgradient(cx:0.5, cy:0.5, radius: 0.8,
                                      fx:0.5, fy:0.5, stop:0 red, stop: transparent);
}

#cell_black_king {
    background-image: url(:/images/black_king.png) 2 2 2 2 stretch stretch;
}

#cell_black_king[checkedKing=true] {
    background-color: qradialgradient(cx:0.5, cy:0.5, radius: 0.8,
                                      fx:0.5, fy:0.5, stop:0 red, stop: transparent);
}

#cell_white_queen {
    background-image: url(:/images/white_queen.png) 2 2 2 2 stretch stretch;
}

#cell_black_queen {
    background-image: url(:/images/black_queen.png) 2 2 2 2 stretch stretch;
}
